<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type:</label>
    <input type="text" name="type" id="creatureType">

    <label for="img_url">Image Url:</label>
    <input type="text" name="img_url" id="img_url">

    <button type="submit">Add a creature</button>
</form>